/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Styling Starts Here */

/* My Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* General Styles */
html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 1370px;
  width: 100%;
  line-height: 1.5;
}

button,
input,
select,
textarea,
Link {
  font-family: "Roboto", sans-serif;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
  font-weight: 600;
}

img,
audio,
video {
  width: 100%;
}

/* Variables */
:root {
  --primary: #5cb85c;
  --secondary: #646788;
  --tertiary: #ff0062;
}

/* Containers */
.container-90 {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

/* Flex */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.flex-10 {
  flex: 0 1 10%;
}

.flex-20 {
  flex: 0 1 20%;
}

.flex-24 {
  flex: 0 1 24%;
}

.flex-32 {
  flex: 0 1 32%;
}

.flex-49 {
  flex: 0 1 49%;
}

.flex-74 {
  flex: 0 1 74%;
}

/* Headings */
h1 {
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

.sub-heading {
  font-size: 1.25rem;
}

/* Texts */
.text {
  font-size: .875rem;
  line-height: 1.5;
}

.accent {
  color: var(--primary);
}

.accent:hover {
  text-decoration: underline;
}

/* Buttons */
/* Read more btn */
.btn {
  background: none;
  font-size: .75rem;
  font-weight: 500;
  padding: 2px;
  border-radius: 0.25rem;
  text-decoration: underline;
  color: rgba(0, 0, 0, .35);
  margin-top: .5rem;
}

.btn:hover {
  color: black;
}

/* Tag button */
.btn-1 {
  text-decoration: none;
  background: whitesmoke;
  font-size: .75rem;
  font-weight: 500;
  padding: 2px 10px;
  border-radius: 0.25rem;
  color: black;
  margin: .25rem;
  height: 20px;
  border-radius: 15px;
  min-width: 50px;
  text-align: center;
}

.btn-1:hover {
  color: rgb(116, 114, 114);
  text-decoration: underline;
}

/* Login Button */
.btn-2 {
  background: var(--primary);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-2:hover {
  background: var(--secondary);
  color: white;
}

/* Follow Button */
.follow-btn {
  background-color: #fff;
  text-decoration: none;
  color: #242323;
  padding: .5rem 1rem;
  margin: 1rem;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
}

.follow-btn:hover {
  background-color: #464757;
  color: white;
  transition: all 150ms ease-in-out;
}

/* Tag button type 2 */
.btn-3 {
  text-decoration: none;
  background: white;
  font-size: .75rem;
  font-weight: 500;
  padding: 2px 10px;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, .35);
  margin: .25rem;
  height: 30px;
  border-radius: 15px;
  min-width: 50px;
  border: 1px solid rgba(0, 0, 0, .35);
}

/* Logout button */
.btn-4 {
  background: var(--tertiary);
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: .925rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
  margin-left: 1rem;
}

.btn-4:hover {
  background: var(--secondary);
  color: white;
  transition: all 200ms ease-in-out;
}

/* Edit and Delete buttons */
.edit-btn,
.delete-btn {
  background: #5462ff;
  color: #fff;
  padding: 3px 5px;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, .2);
  border: none;
  border-radius: 5px;
  font-size: .925rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
  margin-left: 1rem;
}

.delete-btn {
  background-color: var(--tertiary);
}

.edit-btn:hover {
  background: #2a3cff;
  color: white;
  transition: all 200ms ease-in-out;
}

.delete-btn:hover {
  background: #ff0000;
  color: white;
  transition: all 200ms ease-in-out;
}


/* Header Styles */
header {
  padding: 10px 5%;
  box-shadow: 1px 1px 5px rgba(92, 182, 92, 0.1);
}

.brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary);
  cursor: pointer;
}

.nav-menu-item {
  text-decoration: none;
  color: rgba(0, 0, 0, .75);
  font-weight: 500;
  align-self: stretch;
  margin: 0 .5rem;
}

.nav-menu-item:hover {
  color: var(--primary);
}

.nav-menu-item.active {
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
  padding: 1.1rem .5rem;
  transition: all 100ms ease-in-out;
}

.header-avatar {
  width: 1rem;
  height: 1rem;
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: 50%;
}

/* Hero Section Styles */
.hero {
  background-color: var(--primary);
  padding: 3rem 1.5rem;
  text-align: center;
  color: white;
}

/* HomePage Styles */
.feed-bar {
  padding: 1rem 0;
}

.global-feed,
.tag-feed,
.author-feed,
.custom-feed {
  font-size: .875rem;
  font-weight: 600;
  color: #333; /* Default text color */
  text-decoration: none;
  padding: 1rem 0;
  cursor: pointer;
  width: 13%;
  margin-right: 10px;
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, .25);
}

.global-feed:hover,
.tag-feed:hover,
.author-feed:hover,
.custom-feed:hover {
  background-color: rgba(92, 182, 92, 0.1);
  opacity: .85;
}

.tag-feed.active,
.global-feed.active,
.author-feed.active,
.custom-feed.active {
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
  padding: 1.1rem .5rem;
  transition: all 100ms ease-in-out;
}

.tags {
  background-color: rgba(0, 0, 0, .25);
  height: fit-content;
  padding: 1rem;
  border-radius: 5px;
}

/* Article Styles */
.article {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, .25);
}

.article-link * {
  cursor: pointer;
}

.article-link {
  color: inherit;
  text-decoration: none;
}

.avatar {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 2px;
}

.avatar img {
  padding: 2px;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid rgba(0, 0, 0, .25);
}

.date {
  font-size: .75rem;
  color: rgba(0, 0, 0, .35);
  text-transform: capitalize;
}

.user {
  cursor: pointer;
}

.author {
  color: var(--primary);
  text-transform: capitalize;
}

.article-title h3{
  text-transform: capitalize;
}

.article-footer {
  margin-top: 1rem;
}

/* Like Styles */
.like {
  border: 1px solid rgba(0, 0, 0, .25);
  color: var(--primary);
  padding: 2px 4px;
  cursor: pointer;
  border-radius: 4px;
  min-width: 2rem;
  font-size: .75rem;
  background-color: white;
  justify-content: center;
  align-items: baseline;
}
.single-article .like {
  min-width: 2.5rem;
  font-size: 1rem;
}

.like.active {
  background-color: white;
  color: var(--tertiary);
}

.like:hover {
  background-color: white;
  color: var(--tertiary);
  transition: all 250ms ease-in-out;
}

/* All Forms styles */
/* Login, new article and Signup form styles */
.login-container,
.signup-container,
.newarticle-container,
.updateuser-container {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 50px auto;
}

.login-heading,
.signup-heading,
.newarticle-heading,
.updateuser-heading {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}

.error {
  color: #ff0000;
  font-size: 14px;
  text-align: left;
}

/* Paginaton Styles */
.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
  justify-content: center;
}

.active-page {
  background-color: white;
  color: var(--primary);
  border: 1px solid var(--primary);
  transition: all 250ms ease-in-out;
}

/* Single article page styles */
.single-article .hero{
  background-color: var(--secondary);
}

.single-article h1 {
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.single-article .avatar {
  width: 2.25rem;
  height: 2.25rem;
}

.single-article .avatar img {
  padding: 2px;
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  border: 1px solid rgba(0, 0, 0, .25);
}

.single-article .author,
.single-article .date {
  text-transform: capitalize;
  color: white;
}

.single-article .article-body,
.single-article .tag-list {
  margin: 1% 2%;
}

.single-article .tag-list {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 1rem;
}

.single-article .article-footer {
  width: 96%;
  margin: 0 auto;
  text-align: center;
  font-size: .875rem;
}

/* Profile page styles */
.profile-avatar img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: white;
}

/* no-articles */
.no-articles {
  color: rgb(66, 65, 65);
  font-size: .875rem;
  font-weight: 600;
  text-transform: capitalize;
}